USE [master]
GO
/****** Nesnesi: Database [AracKiralamaDB] Betik Tarihi: 1.05.2026 18:55:53 ******/
CREATE DATABASE [AracKiralamaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AracKiralamaDB', FILENAME = N'C:\Users\can_t\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\AracKiralamaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AracKiralamaDB_log', FILENAME = N'C:\Users\can_t\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\AracKiralamaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AracKiralamaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AracKiralamaDB]
GO
/****** Nesnesi: Table [dbo].[Admins] Betik Tarihi: 1.05.2026 18:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Brands] Betik Tarihi: 1.05.2026 18:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Cars] Betik Tarihi: 1.05.2026 18:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Plate] [nvarchar](15) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[DailyCost] [decimal](18, 2) NOT NULL,
	[Available] [bit] NOT NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Customers] Betik Tarihi: 1.05.2026 18:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[License] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Rentals] Betik Tarihi: 1.05.2026 18:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Rentals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [UserName], [Password]) VALUES (1, N'Admin', N'1234')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [BrandName]) VALUES (1, N'Fiat')
INSERT [dbo].[Brands] ([Id], [BrandName]) VALUES (2, N'Renault')
INSERT [dbo].[Brands] ([Id], [BrandName]) VALUES (3, N'Volkswagen')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Plate], [Model], [DailyCost], [Available], [BrandId]) VALUES (9, N'25EV65', N'sedan', CAST(2390.00 AS Decimal(18, 2)), 0, 1)
INSERT [dbo].[Cars] ([Id], [Plate], [Model], [DailyCost], [Available], [BrandId]) VALUES (10, N'43TT89', N'Fiesta', CAST(2350.00 AS Decimal(18, 2)), 0, 2)
INSERT [dbo].[Cars] ([Id], [Plate], [Model], [DailyCost], [Available], [BrandId]) VALUES (11, N'34TR718', N'Coupe', CAST(4000.00 AS Decimal(18, 2)), 1, 3)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Phone], [License]) VALUES (1, N'taha', N'can', N'93', N'132444')
INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Phone], [License]) VALUES (2, N'arda', N'doğan', N'777777', N'98398493')
INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Phone], [License]) VALUES (4, N'veysel', N'tzn', N'43432', N'11113')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Rentals] ON 

INSERT [dbo].[Rentals] ([Id], [CarId], [CustomerId], [StartDate], [ReturnDate], [TotalCost]) VALUES (1, 9, 4, CAST(N'2026-05-01T02:34:40.423' AS DateTime), CAST(N'2026-05-08T02:34:40.000' AS DateTime), CAST(14340.00 AS Decimal(18, 2)))
INSERT [dbo].[Rentals] ([Id], [CarId], [CustomerId], [StartDate], [ReturnDate], [TotalCost]) VALUES (2, 10, 2, CAST(N'2026-05-22T02:34:40.000' AS DateTime), CAST(N'2026-05-31T02:34:40.000' AS DateTime), CAST(21150.00 AS Decimal(18, 2)))
INSERT [dbo].[Rentals] ([Id], [CarId], [CustomerId], [StartDate], [ReturnDate], [TotalCost]) VALUES (3, 15, 1, CAST(N'2026-06-05T02:34:40.000' AS DateTime), CAST(N'2026-06-25T02:34:40.000' AS DateTime), CAST(66000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Rentals] OFF
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Brands]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Cars] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([Id])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Cars]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Customers]
GO
USE [master]
GO
